<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <meta name="description"
    content="Saathi was started with the belief that an equitable and non-exploitative society can only be created by empowering vulnerable communities so that they can live a life of dignity. To achieve this, it is vital to help the communities realise its strengths to drive the change toward constructive development. Keeping this in mind, Saathi Samaj Sevi Sanstha was established under the Madhya Pradesh Society Act in 1993.">
  <meta name="keywords"
    content="Vulnerable communities, Empowerment, Equitable society, Non-exploitative Life of dignity, Constructive development, Strengths, Change, Saathi Samaj Sevi Sanstha, Madhya Pradesh Society Act 1993">
  <meta name="author" content="Saathi Samaj Sevi Sanstha">
  <title>Saathi | Stories</title>

  <!-- FAVICON -->
  <link rel="icon" type="image/png" href="img/Saathi_logo.png">

  <!-- Bootstrap 5 CDN Links -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">

  <!-- Custom css Link -->
  <link rel="stylesheet" href="css/style.css">
  <link rel="stylesheet" href="/css/stories.css">
  <style>
    .carousel {
      padding: 0 !important;
      margin: 0 !important;
    }

    .carousel-caption {
      margin-bottom: -15rem !important;
    }
  </style>

</head>

<body data-bs-spy="scroll" data-bs-target=".navbar" data-bs-offset="85" style="overflow-x: hidden;">

  <!-- Navbar section -->
  <header class="header_wrapper">
    <nav class="navbar navbar-expand-lg">
      <div class="container">
        <a class="navbar-brand" href="/">
          <img src="img/Saathi_logo.png" class="d-none d-lg-block w-75 h-100 img-fluid" alt="logo" />
          <img src="img/Saathi_logo.png" class="d-lg-none d-md-block w-50 h-100 img-fluid" alt="logo" />
        </a>

        <button class="navbar-toggler pe-0 text-align-center" type="button" data-bs-toggle="collapse"
          data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
          <!-- <span class="navbar-toggler-icon"></span> -->
          <i class="fas fa-stream navbar-toggler-icon"></i>
        </button>

        <div class="collapse navbar-collapse justify-content-between" id="navbarNav">
          <ul class="navbar-nav menu-navbar-nav">
            <li class="nav-item dropdown d-none d-lg-block">
              <a class="nav-link dropdown-toggle" id="navbarDropdown" role="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                OUR WORK
              </a>
              <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                <li>
                  <a class="dropdown-item" href="/ourApproach">OUR APPROACH</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/ourProjects">OUR PROJECTS</a>
                </li>
                <li>
                  <a class="dropdown-item" href="/network&Partner">NETWORK & PARTNERS</a>
                </li>
              </ul>
            </li>

            <li class="nav-item d-lg-none d-md-none">
              <a class="nav-link" href="/ourApproach">OUR APPROACH</a>
            </li>

            <li class="nav-item d-lg-none d-md-none">
              <a class="nav-link" href="/ourProjects">OUR PROJECTS</a>
            </li>

            <li class="nav-item d-lg-none d-md-none">
              <a class="nav-link" href="/network&Partner">NETWORK & PARTNERS</a>
            </li>

            <!-- -------BASTAR PAGE CHALU KRNA RAHEGA BAAD MEI---- -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="/bastar">BASTAR</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="/about">ABOUT US</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/story">STORY</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/contact">CONTACT</a>
            </li>
          </ul>
          <form class="d-flex justify-content-center">
            <button class="btn main-btn btn-edit-home" type="button" data-bs-toggle="modal"
              data-bs-target="#exampleModal">
              SUPPORT US
            </button>
          </form>
        </div>
      </div>
    </nav>
  </header>
  <!-- Navbar section exit -->


  <!-- COMING SOON SECTION -->
  <div class="container mt-5">
    <div class="row">
      {{#each blogs}}
      <div class="col-4">
        <div class="card mb-3">
          <img src="/uploads/{{this.image}}" class="card-img-top" alt="...">
          <div class="card-body">
            <a href="/getStoryById/{{this._id}}">
              <h5 class="card-title">{{this.title}}</h5>
              <p class="text-black">{{this.description}}</p>
            </a>
            <p class="text-black"><small class="text-muted"> Author - {{this.author}} </small></p>
          </div>
        </div>
      </div>
      {{/each}}
    </div>
  </div>

  <section class="container-fluid bg-skin">
    <div class="row py-3">
      <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
        <div class="title-box text-center">
          <!-- <h6 class="fs-6 text-black">Quando un titolo è ciò che serve</h6> -->
          <h1 class="fs-3 fw-bold text-brown">
            STORIES
          </h1>
        </div>
      </div>
    </div>
  </section>


  <!-- section 2-->





  <!-- COMING SOON SECTION ENDS -->

  <!-- Footer section -->
  <section id="contact" class="footer_wrapper bg-light-skin">

    <div class="container-fluid block_newsletter">
      <div class="row align-items-center">
        <div class="col-lg-6 col-md-12">
          <div class="ps-1 mb-4">
            <p class="d-flex pt-3">
              <a href="https://www.facebook.com/saathikondagaon" class="footer_social_media_icon"><i
                  class="fab fa-facebook-f"></i></a>
              <a href="https://www.instagram.com/saathibastar/" class="footer_social_media_icon"><i
                  class="fab fa-instagram"></i></a>
              <a href="https://www.linkedin.com/company/saathi-samaj-sevi-sanstha/about/"
                class="footer_social_media_icon"><i class="fab fa-linkedin-in"></i></a>
              <a href="https://twitter.com/saathibastar" class="footer_social_media_icon"><i
                  class="fab fa-twitter"></i></a>
            </p>
          </div>
        </div>
      </div>
    </div>

    <div class="container-fluid">
      <div class="row pt-5">

        <div class="col-lg-3 mb-4 mb-lg-0">
          <img class="w-50 d-none d-lg-block" src="img/Saathi_logo.png" />
          <img class="w-25 d-lg-none d-md-block" src="img/Saathi_logo.png" />
        </div>

        <div class="col-lg-3 ps-lg-5 mb-4 mb-lg-0">
          <h5 class="fs-5 font-bolder text-red">INFO</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/about">About Us</a>
            </li>
            <li>
              <a href="/ourApproach">Our Approach</a>
            </li>
            <li>
              <a href="/network&Partner">Network & Partners</a>
            </li>
            <!-- -------BASTAR PAGE CHALU KRNA RAHEGA BAAD MEI---- -->
            <!-- <li>
            <a href="/bastar">Bastar</a>
          </li> -->
            <li>
              <a href="/annualreports">Annual Reports</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 ps-lg-5 mb-4 mb-lg-0">
          <h5 class="font-bolder text-red">PROJECTS</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/ourProjects">Education</a>
            </li>
            <li>
              <a href="/ourProjects">Craft & Rural Tourism</a>
            </li>
            <li>
              <a href="/ourProjects">Livelihood</a>
            </li>
            <li>
              <a href="/ourProjects">Health & Nutrition</a>
            </li>
            <li>
              <a href="/ourProjects">People’s Rights & Empowerment</a>
            </li>
          </ul>
        </div>

        <div class="col-lg-3 ps-lg-5 mb-4 mb-lg-0">
          <h5 class="font-bolder text-red">GET INVOLVED</h5>
          <ul class="list-unstyled">
            <li>
              <a href="/contact" data-bs-toggle="modal"
              data-bs-target="#exampleModal">Support us</a>
            </li>
            <li>
              <a href="/contact">Contact</a>
            </li>
          </ul>
        </div>

        <div class="col-12 text-left pt-1 border-top" style="border-color: #726f6f">
          <p style="color: #646161">
            © 2022,
            <a href="#" target="_blank" title="" class="fs-6 text-decoration-none" style="color: #646161">
              all rights reserved, Saathi Samaj Sevi Sanstha - REG. N.
              0123456789  &amp; <span><a href="https://www.innogative.in" id="innogative-footer"> Designed by Innogative</a></span>
            </a>
          </p>
        </div>
      </div>
    </div>




  </section>
  <!-- Footer section exit -->

  {{>support}}

  <!-- Bootstrap 5 JS CDN Links -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.9.2/umd/popper.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/5.1.0/js/bootstrap.min.js"></script>

  <!-- Custom Js Link -->
  <script src="js/main.js"></script>
</body>

</html>